* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
}

.aside{
    background: #256F74;
    height: auto;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.aside .details-aside{
    width: 90%;
}

.aside .details-aside form label{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 40px 30px;
}

.aside .details-aside form input[type="text"]{
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 80%;
}

.aside .details-aside form select{
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 80%;
}   

.aside .details-aside form input[type="submit"]{
    border-radius: 5px;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin: 10px auto;
    padding: 5px;
    width: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.aside .details-aside p {
    color: #fff;
    font-size: 20px;
    margin: 20px 10px;
}

.aside .details-aside a {
    color: #bdbbbb;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.container{
    height: 200vh;
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-details{
    width: 90%;
}

.container .container-details form input, select{
    display: block;
    margin: 5px auto;
    padding: 3px;
    width: 80%;
}

.container .container-details form input[type="submit"]{
    cursor: pointer;
    margin: 20px auto;
    width: 50%;
}

.sondeo {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.sondeo .details-sondeo {
    background: #256F74;
    width: 30%;
    height: 50vh;
    margin: 30px;
    padding: 0px 0px 20px 0px;
}

.sondeo .details-sondeo img {
    width: 100%;
    height: 50%;
}

.sondeo .details-sondeo h2, p {
   color: #fff;
}

.sondeo .details-sondeo h2 {
    margin: 5px;
 }

 .sondeo .details-sondeo a {
    text-decoration: none;
 }

.sondeo-detalle .details-sondeo-detalle{
    height: 150vh;
    width: 100%;
}

.sondeo-detalle .details-sondeo-detalle img{
    width: 90%;
}

.sondeo-detalle .details-sondeo-detalle p{
    color: #000 ;
}

.sondeo-detalle .details-sondeo-detalle a{
    background-color: #256F74;
    border-radius: 5px;
    color: #fff;
    margin: 15px;
    text-decoration: none;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.borrar{
    background-color: #256F74;
    border-radius: 5px;
    color: #fff;
    margin: 15px;
    text-decoration: none;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

